p {
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 1px 7px;
}

input {
  font-size: 18px;
}

input[type=checkbox] {
  margin: 7px;
}
.demo-container {
  box-sizing: border-box;
  width: 1000px;
  height: 700px;
  padding: 5px 5px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  overflow: auto;
}
#choices > label {
  display: inline;
}
.clearfix {
   overflow: auto;
}
.demo-placeholder {
  width: 75%;
  height: 85%;
  font-size: 14px;
  line-height: 1.2em;
}

.label-placeholder {
   width: 20%;
   height: 85%;
}

.legend-placeholder {
   width: 60%;
   height: auto;
}

.legend table {
  border-spacing: 5px;
}
